# Server
PORT=3000
NODE_ENV=
DEV_OWNER_ID=

# Database (placeholder - Prisma/Postgres later)
DATABASE_URL=

# Redis (placeholder - later)
REDIS_URL=

# Auth (placeholder - later)
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

